{% extends "layout.html" %}

{% block body %}
<form action="/" method='POST'>
  <div class="form-group">
    <label for="exampleInputEmail1">Masukkan Nama Situs</label>
    <input name="situs" type="text" class="form-control" placeholder="Contoh:'detik'">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
          	<ul>
          		<p>{{ hasil }}</p>
          	</ul>
{% endblock %}